body {
    background-image: url("../images/body-bg.png");
    z-index: -1;
}

.h2{
    font-family: 'Notable', sans-serif;
}

.card-title{
    font-family: 'Black Ops One', cursive;
}

.card-img{
    width: 150px;
    margin: auto;
}
.bg-sec{
    background-color: rgb(154, 186, 197);
}

.card-header{
    font-weight: bold;
}